---
---

@import "minima";

p {
  text-align: justify;
}

.post-title,
.page-heading,
.page-content h1,
.post-content h1 {
  font-size: 24px !important;
}

.post-content h3 {
  font-size: 18px !important;
}
